@model IEnumerable<SistemaCompras.Models.OrdenCompra>

    @{
    ViewData["Title"] = "ėrdenes de Compra";
    }

    <h1>ėrdenes de Compra</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Nueva Orden</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>N·mero de la Orden</th>
                <th>Identificador Solicitud</th>
                <th>Fecha Orden</th>
                <th>Proveedor</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
{
            <tr>
                <td>@item.NumeroOrden</td>
                <td>@item.SolicitudCompraId</td>
                <td>@item.FechaOrden.ToString("dd/MM/yyyy")</td>
                <td>@item.Proveedor?.Nombre</td>
                <td>@item.Estado</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
}
        </tbody>
    </table>
