@model SistemaCompras.Models.Articulo

<h1>Details</h1>

<dl class="row">
    <dt>Descripción</dt>
    <dd>@Model.Descripcion</dd>

    <dt>Existencia</dt>
    <dd>@Model.Existencia</dd>

    <dt>Marca</dt>
    <dd>@Model.Marca?.Descripcion</dd>

    <dt>Unidad de Medida</dt>
    <dd>@Model.UnidadMedida?.Descripcion</dd>

    <dt>Estado</dt>
    <dd>@(Model.Estado ? "Activo" : "Inactivo")</dd>
</dl>

<a asp-action="Index">Back to List</a>