@model SistemaCompras.Models.Proveedor

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles del Proveedor</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CedulaRnc)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CedulaRnc)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Estado)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Estado)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Telefono)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Telefono)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>