@model IEnumerable<SistemaCompras.Models.Proveedor>

    @{
    ViewData["Title"] = "Proveedores";
    }

    <h1>Proveedores</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Nuevo Proveedor</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CedulaRnc)</th>
                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.Estado)</th>
                <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>@item.CedulaRnc</td>
                <td>@item.Nombre</td>
                <td>@item.Estado</td>
                <td>@item.Telefono</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
}
        </tbody>
    </table>
